body{
    display: flex;
    justify-content: center;
    background-color: #a7868e;
    font-family: "Verdana", sans-serif;
}
.post{
    color: white;
    margin-left: 30px;
    border:2px solid #332f44;
    border-radius: 5px;
    background-color: rgb(88, 109, 84);
}
.input-and-button-wrapper {
    display: flex;
    margin-top: .313rem;
    margin-left: 1.875rem;
}
.comment-input{
  background-color: #a9b3b1;
  font-size: 1.25rem;
  height: 2.5rem;
  border:2px solid rgba(11, 48, 39, 0.924);
  border-radius: .313rem;
  margin-top: 0px;
  width: 27.5rem;
}
textarea{
  resize: none;
}

  
.button {
  min-width: 2.125rem;
  min-height: 1.875rem;
  border-radius:5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.875;
  border: none;
  color: white;
  box-shadow: 2px 2px 3px rgba(32, 5, 5, 0.993);
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;

}
.success {
  background-color: #2f5f74;
}
  
.success:hover {
  background-color: #1f7fa8;
}

.delete {
  background-color: #830a28;
}

.delete:hover {
  background-color: #dd043b;
}

.add-button {
  margin-left: 8px;
}
  
.comment-wrapper {
  margin: 20px auto;
  
}

.comment {
  margin-left: 1.75rem;
  margin-top: 1.875rem;
  border-left:2px solid #332f44;
  width: 31.25rem;
  overflow-wrap: break-word;
}

.comment-text {
  color: #f7f1f1;
  font-size: 20px;
  padding: 5px;
  background-color: #332f44;
  border-radius: 0px 10px 10px 0px;
  font-family: "Verdana", sans-serif;
}

.button-and-likes-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 2px;
  height: 1.563rem;
  width: 100%;
}

.likes-text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: px;
  font-size: 15px;
  background-color: rgb(56, 2, 2);
  min-width: 34px;
  min-height: 30px;
  font-family: "Arial", sans-serif;
  border-radius: 5px;
}

.reply-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;

  
  
}
.reply-input {
  width: 150px;
  height: 30px;
  font-size: 15px;
  border:2px solid #ebeef0;
  background-color: #5c5677;
  color: white;
}


.hide-reply > .reply-wrapper {
  display: none ;
}

.comment-input::-webkit-scrollbar {
display: none;
}

.reply-input::-webkit-scrollbar {
display: none;
}
.container{
  width: auto;
}
@media (max-width: 700px) {
  body{
    margin-top: 50px;
  }
  .comment-input{
    background-color: #a9b3b1;
    font-size: 1.25rem;
    height: 100%;
    border:2px solid rgba(11, 48, 39, 0.924);
    border-radius: .313rem;
    margin-top: 0px;
    width: 100%;
  }
  .input-and-button-wrapper {
    display: flex;
    margin-top: .313rem;
    margin-left: 1.875rem;
    width: 90%;
}
.post{
  width: 90%;
  color: white;
  margin-left: 30px;
  border:2px solid #332f44;
  border-radius: 5px;
  background-color: rgb(88, 109, 84);
}
.comment {
  margin-left: 1.75rem;
  margin-top: 1.875rem;
  border-left:2px solid #332f44;
  
}
}
